USE [master]
GO
/****** Object:  Database [CRUD_USING_ASP.NET_WEB_API_AND_ANGULAR_DB]    Script Date: 15/07/2020 11:35:29 AM ******/
CREATE DATABASE [CRUD_USING_ASP.NET_WEB_API_AND_ANGULAR_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUD_USING_ASP.NET_WEB_API_AND_ANGULAR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CRUD_USING_ASP.NET_WEB_API_AND_ANGULAR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUD_USING_ASP.NET_WEB_API_AND_ANGULAR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CRUD_USING_ASP.NET_WEB_API_AND_ANGULAR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUD_USING_ASP.NET_WEB_API_AND_ANGULAR_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUD_USING_ASP.NET_WEB_API_AND_ANGULAR_DB]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 15/07/2020 11:35:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Full_Name] [varchar](30) NOT NULL,
	[Position] [varchar](30) NOT NULL,
	[Mobile_No] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
